<mat-card class="card">
    <mat-card-header>
       <mat-card-title></mat-card-title>
       <mat-card-subtitle></mat-card-subtitle>
    </mat-card-header> <!-- formControlName="estado" [formGroup]="", -->
    <form (ngSubmit)="exit()">
    <mat-card-content>
        Não foi possivel realizar a operação!
      </mat-card-content>  
      <mat-card-actions>
        <button class="btn btn-danger" type="submit" style="width: 100%;">Sair</button>
      </mat-card-actions>
    </form>
  </mat-card>
