<mat-card class="card">
    <mat-card-header>
       <mat-card-title>Criar Tarefa.</mat-card-title>
    </mat-card-header>
    <form [formGroup]="formCreateTarefa"  (ngSubmit)="createTarefa()">
    <mat-card-content>     
            <mat-form-field appearance="outline" class="input_region">
                <mat-label>Nome</mat-label>
                <input formControlName="name" matInput placeholder="">
                <mat-icon matSuffix>view_agenda</mat-icon>
            </mat-form-field>
          <br> 
          <mat-form-field appearance="outline" class="text">
            <mat-label>Descrição</mat-label>
            <textarea matInput formControlName="description"></textarea>
            <mat-icon matSuffix>description</mat-icon>
          </mat-form-field> 
      </mat-card-content>  
      <mat-card-actions>
        <button class="btn btn-success" type="submit" style="width: 100%;">Confirmar</button>
      </mat-card-actions>
    </form>
</mat-card>
  